APP_NAME="Xevora IA"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://xevora-ia.vercel.app

DB_CONNECTION=pgsql
DB_HOST=ep-weathered-recipe-ajva3znc-pooler.c-3.us-east-2.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Vercel
APP_STORAGE=/tmp
VIEW_COMPILED_PATH=/tmp
SESSION_DRIVER=cookie