APP_NAME="Xevora IA"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://votre-app.vercel.app

DB_CONNECTION=pgsql
DB_HOST=votre-host-neon
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=